@import "scss/mixins";

a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin: 0 10px;
    z-index: 100;
    cursor: pointer;
}

.link:hover {
    color: seagreen
}

.active {
    color: seagreen
}

#nav {
    position: fixed;
    top: 10px;
    text-align: right;
    width: 85%;
    margin: auto;
    @include small-screens {
        top: 0px;
        width: 100%;
        background-color:black;
    }
}

#nav-btns {
    @include small-screens {
        text-align: center;
        z-index: 1000;
    }
}

#splash {

}

#about {
    min-height:100vh;
}

#about-background {
    position: absolute;
    max-height: 100vh;
    min-width: 99vw;
    z-index: -1;
    opacity: .4;
    @include large-screens {
        display:none;
    }
}

#portfolio {
    min-height:100vh;
    background-color: #222222;
}

#contact {
    min-height:100vh;
    background-color: darkslategrey;
}