@import "scss/mixins";

a {
    text-decoration: none;
    color: white;
    margin: 0 10px;
    font-size: 20px;
    z-index: 100;
    cursor: pointer;
    @include small-screens {
        margin: 20px 5px 0;
        font-size: 25px;
    }
}

.link:hover {
    color: seagreen;
    @include small-screens {
        margin-top: 20px;
        color: white;
    }
}

.active {
    color: seagreen
}

#nav {
    position: fixed;
    text-align: right;

    width: 85%;
    margin: auto;
    @include small-screens {
        z-index: 1000;
        padding-top: 10px;
        width: 100%;
        background-color:black;
    }
}

#nav-btns {
    @include small-screens {
        text-align: center;
    }
}

#resume-link {
    @include small-screens {
        display: none;
    }
}

#splash {

}

#about {
    min-height:100vh;
}

#about-background {
    position: absolute;
    max-height: 100vh;
    min-width: 99vw;
    z-index: -1;
    opacity: .4;
    @include large-screens {
        display:none;
    }
}

#portfolio {
    min-height:100vh;
    background-color: #222222;
}

#contact {
    min-height:100vh;
    background-color: #313030;
}