a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin: 0 10px;
    cursor: pointer;
}

.link:hover {
    color: seagreen
}

#nav {
    position: fixed;
    top: 10px;
    text-align: right;
    width: 85%;
    margin: auto;
}

#splash {

}

#about {
    min-height:100vh;
    /* background-color: slategray; */
}

#about-background {
    position: absolute;
    max-height: 100vh;
    min-width: 99vw;
    z-index: -1;
    opacity: .4;
}

#portfolio {
    min-height:100vh;
    background-color: #222222;
}

#contact {
    min-height:100vh;
    background-color: darkslategrey;
}