#cred {
    background-color: #222;
    display: block;
    margin: auto;
}

#col {
    text-align:center;
    padding-left:50px;
    padding-right:50px;
    padding-bottom:10px;
}

#copyright {
    color:darkgrey;
    text-align:center;
}
  
.link-btn {
    display: inline-block;
    height:70px;
    width:70px;
    margin:10px;
    padding:10px;
    vertical-align: top;
}

.icon:hover {
    margin-top: 5px; 
    height:50px;
    width:50px;
}
  
.icon {
    max-height:60px;
    max-width:60px;
}