<div id="cred" class="row">
    <div id=col class="col-xs-6">
        <h3 style="color:darkgrey;">Page created and coded by Matt Krabacher</h3>
    </div>

    <div id=col class="col-xs-6">
        <h3 style="color:darkgrey">On the web at
            <br>
        </h3>

        <div class="row">
            <div class="link-btn">
                <a target="_blank" href="https://www.linkedin.com/in/mattkrabacher/">
                    <img class="icon" alt="linkedin" src="assets/img/linkedin.png">
                </a>
            </div>
            <div class="link-btn">
                <a target="_blank" href="https://github.com/mkrabacher">
                    <img class="icon" alt="git" src="assets/img/github.png">
                </a>
            </div>
            <div class="link-btn">
                <a target="_blank" href="https://codepen.io/Krabacher">
                    <img class="icon" alt="codepen" src="assets/img/codepen.png">
                </a>
            </div>
            <div class="link-btn">
                <a target="_blank" href="https://www.freecodecamp.org/mkrabacher">
                    <img class="icon" style="border-radius:23%" alt="codecamp" src="assets/img/freecodecamp.jpg">
                </a>
            </div>
        </div>

    </div>

    <p id=copyright>Copyright Matt Krabacher&copy; 2018 - Coded from scratch with Angular and Node - Deployed with AWS</p>
</div>