@import '../scss/mixins';

h3 {
    @include small-screens {
        font-size: 15px;
    }
}

#cred {
    background-color: #222;
    display: block;
    margin: auto;
}

#col {
    text-align:center;
    padding: 0 50px 10px;
    @include small-screens {
        padding: 0px;
    }
}

#copyright {
    color:darkgrey;
    text-align:center;
    @include small-screens {
        font-size: 10px;
    }
}
  
.link-btn {
    display: inline-block;
    height:70px;
    width:70px;
    margin:10px;
    padding:10px;
    vertical-align: top;
    @include small-screens {
        padding: 0px;
        margin: 0px;
    }
}

.icon:hover {
    margin-top: 0;
    height:60px;
    width:60px;
}

.icon {
    margin-top: 5px;
    height:50px;
    width:50px;
}