<div id="contact" class="container-fluid">
    <h1 style="font-size: 50px;">Interested in working together?</h1>
    <hr>
    <div class="container-fluid">
        <div class="contact-box">
            <h3 class="contact-text">
                If you would like to request more info about me, my experience, my resume, advice on how to get a tourist visa to Sudan or so we can meet up and climb just fill out the form on the right and I'll get back to you as soon as I am able.
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                Please no spam or soliciting.
            </h3>
        </div>

        <div class="contact-box">
            <form #formData='ngForm' id="contact-form" (submit)="mailThroughService()">
                <label for="mail.fName">First Name   <span class="errorMsg" *ngIf="fName.errors && fName.errors.minlength">Must have longer first name</span></label>
                <br>
                <input type="text" name="mail.fName" id="mail-fName" [(ngModel)]="mail.fName" required minlength="2" #fName="ngModel">
                <p *ngIf="errorMsg">{{errorMsg}}</p>
                <br>

                <label for="mail.lName">Last Name   <span class="errorMsg" *ngIf="lName.errors && lName.errors.minlength">Must have longer last name</span></label>
                <br>
                <input type="text" name="mail.lName" id="mail-lName" [(ngModel)]="mail.lName" required minlength="3" #lName="ngModel">
                <br>

                <label for="mail.email">Email   <span class="errorMsg" *ngIf="email.errors && email.errors.pattern">Email must be vaild</span></label>
                <br>
                <input type="email" name="mail.email" id="mail-email" [(ngModel)]="mail.email" required #email="ngModel" pattern="\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}\b">
                <br>

                <label for="mail.projectIdea">Project Idea</label>
                <br>
                <textarea id="mail-projectIdea" name="mail.projectIdea" [(ngModel)]="mail.projectIdea" required minlength="10" #projectIdea="ngModel" placeholder="Write something..."></textarea>
                <p id="returnMsg" *ngIf="returnMsg">{{returnMsg}}</p>
                <p class="errorMsg" *ngIf="returnErrMsg">{{returnErrMsg}}</p>
                <br *ngIf="!returnMsg && !returnErrMsg">
                <input ng-disabled="!formData.valid" type="submit" style="float:right" value="Get In Touch">
            </form>
        </div>
    </div>
</div>