<div id="wrapper">
    <div id="about-me">
        <h1>About Me</h1>
        <p>I want a God who stays dead, not plays dead. I, even I, can play dead. I want a God who stays dead, not plays dead. I, even I, can play dead.</p>
        <p>who am i</p>
        <p>what kind of work i do</p>
        <p>how you do that work</p>
        <p>where you want to go next</p>
        <p>Who I really want to work with</p>
        <p>this can be a bitt longer</p>
    </div>
    <div id="skills">
        <h1>Skills</h1>
        <p>I want a God who stays dead, not plays dead. I, even I, can play dead. I want a God who stays dead, not plays dead. I, even I, can play dead.</p>
        <ul>
            <li>
                <h3>Crunking</h3>
                <p>External control are you gonna let them get you?</p>
            </li>
            <li>
                <h3>Crunking</h3>
                <p>Do you wanna be a prisoner in the boundaries they set you?</p>
            </li>
            <li>
                <h3>Crunking</h3>
                <p>You say you want to be yourself, by christ do you think they'll let you?</p>
            </li>
            <li>
                <h3>Crunking</h3>
                <p>They're out to get you, they're out to get you, get you get you get you</p>
            </li>
        </ul>
    </div>
    <div id="resume">
        <h2>Take a look at My Resume</h2>
        <a id="download-btn" href="assets/download/MattKrabacher-Resume.docx">Download My Resume</a>
    </div>
</div>