@import "../scss/mixins";

h3 .techs {
    padding: 500px;
}


#wrapper {
    padding-bottom: 60px;
    max-width: 1000px;
    margin: auto;
}

#work-header {
    margin: 0 11px;
    padding-top: 40px;
    border-bottom: solid 3px white;
    h1 {
        font-size: 55px;
        color: white;
        @include small-screens {
            display: inline;
            color: seagreen;
            font-size: 30px;
        }
    }
}

.project-box {
    border-bottom: solid 3px white;
    padding: 50px 10px;
}

.project-img {
    width: 400px;
    border: 3px solid seagreen;
    margin: auto;
}

.project-img-frame {
    width: 49%;
    display: inline-block;
}

.project-desc {
    display: inline-block;
    text-align: justify;
    width: 50%;
    color: white;
    vertical-align: top;
}
