<div id="wrapper">
    <div class="project-box">
        <h1>Check out what I've been working on</h1>
    </div>
    <div id="bivyMaps" class="project-box">
        <div class="project-img-frame">
            <img class="project-img" src="assets/img/BivyMaps.jpg" alt="bivy maps">
        </div>
        <h3 class="project-desc">
            Bivy Maps is a web application I designed and created and coded with a partner. The app displays free user generated camping locations all around the world. Sites are displayed on an embedded Google Maps with custom icons marking the locations. Logged in users are able to add, edit and delete campsites they created and anyone can view other users’ campsites and get directions. Each campsite has numerous amenities and features as well as the local weather at the site.
            <br><br>
            <i>Technologies: Python, Django, MySQL, Google Maps API, JQuery, AJAX</i>
            <br><br>
            <p><a><s>View Live</s></a> | <a href="https://github.com/mkrabacher/campMaps_project">View Github</a></p>
        </h3>
    </div>
    <div id="psyberWar" class="project-box">
        <h3 class="project-desc">
            Digitized version of a board game currently in development. In PsyberWar players play as either Russia or the US and vie for political control of Europe using disinformation and exploiting opponents operational security. The game is a logic heavy strategy game including five different decks and over 150 cards. Cards are dealt differently based on how far into the game players are. The board is animated depending on relevant stats of each player and turns. 
            <br><br>
            <i>Technologies: C#, Unity, Unity Collaborate</i>
        </h3>
        <div class="project-img-frame">
            <img style="float: right;" class="project-img" src="assets/img/psyberWar.jpg" alt="bivy maps">
        </div>
    </div>
    <div id="terrorView" class="project-box">
        <div class="project-img-frame">
            <img class="project-img" src="assets/img/terrorView.jpg" alt="bivy maps">
        </div>
        <h3 class="project-desc">
                Terrorism by Number takes the Global Terrorism Database (<a style="font-weight:100;" href="http://www.start.umd.edu/gtd/">http://www.start.umd.edu/gtd/</a>) and creates an interactive visual representation of all terror attacks since 1970 using Google Maps Heatmap and Charts.js. Over 89000 data points which had to be summarized into 1000 point and formatted for the Google Maps Heatmap layer.
                <br><br>
                <i>Technologies: TypeScript, Angular5, MongoDB, Express.js, Google Maps API, Charts.js, Studio 3T (MongoDB GUI)</i>
                <br><br>
                <p><a><s>View Live</s></a> | <a href="https://github.com/mkrabacher/terrorismInfo">View Github</a></p>
        </h3>
    </div>
    <div id="githubBattle" class="project-box">
        <h3 class="project-desc">
            User can compare their GitHub accounts against other users. Each user is given a score based upon how many public repos they have and how many users are following them.
            <br><br>
            <i>Technologies: TypeScript, Angular5, MongoDB, Express.js, Github API</i>
            <br><br>
            <p><a><s>View Live</s></a> | <a href="https://github.com/mkrabacher/github_battle">View Github</a></p>
        </h3>
        <div class="project-img-frame">
            <img style="float: right;" class="project-img" src="assets/img/GithubBattle.jpg" alt="bivy maps">
        </div>
    </div>
</div>