@import "../scss/mixins";

h3 .techs {
    padding: 500px;
}


#wrapper {
    padding-bottom: 60px;
    max-width: 1000px;
    margin: auto;
}

#work-header {
    margin: 0 11px;
    padding-top: 40px;
    border-bottom: solid 3px white;
    h1 {
        font-size: 55px;
        color: white;
        @include small-screens {
            display: inline;
            color: seagreen;
            font-size: 30px;
        }
    }
}

.project-box {
    border-bottom: solid 3px white;
    padding: 50px 10px;
}

.right {
    float: right;
    @include small-screens {
        float: none;
    }   
}


.project-img-frame {
    display: inline-block;
    .project-logo {
        position: absolute;
        background-color: #585858;
        display: block;
        opacity: 0.9;
        filter: alpha(opacity=50);
        transition: opacity 1s ease-in-out;
        -moz-transition: opacity 1s ease-in-out;
        -webkit-transition: opacity 1s ease-in-out;
    }
    .project-logo:hover {
        opacity: 0.0;
        transition: opacity .55s ease-in-out;
        -moz-transition: opacity .55s ease-in-out;
        -webkit-transition: opacity .55s ease-in-out;
    }
    .BivyMapsLogo {
        width: 406px;
        padding: 105px 0;
        @include small-screens {
            max-width: 93vw;
            height: 35vh;
            padding: 0;
        }     
    }
    .psyberwarLogo {
        width: 406px;
        height: 231px;
        @include small-screens {
            max-width: 93vw;
            height: 35vh;
        }  
    }

    .terrorViewLogo {
        width: 406px;
        height: 264px;
        opacity: 0.6;
        @include small-screens {
            max-width: 93vw;
            height: 35vh;
        } 
    }
    .GithubBattleLogo {
        width: 406px;
        height: 264px;
        opacity: 0.9;
        @include small-screens {
            max-width: 93vw;
            height: 35vh;
        }
    }
    .project-img {
        width: 400px;
        border: 3px solid seagreen;
        margin: auto;
        @include small-screens {
            max-width: 93vw;
            height: 35vh;
            border: none;
        }
    }
}

.mobile-frame {
    display: none;
    @include small-screens {
        display: inline;
    }
}

.large-frame {
    @include small-screens {
        display: none;
    }
}

.project-desc {
    text-align: justify;
    width: 50%;
    display: inline-block;
    @include small-screens {
        width: 100%;
    }
    color: white;
    vertical-align: top;
}
