
@import "../scss/mixins";

h1 {
    color: white;
    text-align: center;
    height: 140px;
    position: absolute;
    font-size: 50px;
    padding: 20px;
    z-index: 1000;
    width: 745px;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include medium-screens {
        width: auto;
        margin: auto;
        position: relative;
    }
    @include small-screens {
        color: seagreen;
        top: 120px;
        font-size: 35px;
    }
}

img {
    max-width: 100px;
    max-height: 40px;
}

@-webkit-keyframes hvr-bob {
    0% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
    50% {
      -webkit-transform: translateY(-4px);
      transform: translateY(-4px);
    }
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
}

@-webkit-keyframes hvr-bob-float {
    100% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}

@keyframes hvr-bob-float {
    100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    }
}

.hvr-bob {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hvr-bob:hover {
    -webkit-animation-name: hvr-bob-float, hvr-bob;
    animation-name: hvr-bob-float, hvr-bob;
    -webkit-animation-duration: .3s, 1.5s;
    animation-duration: .3s, 1.5s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;
}

#download-btn-wrapper {
    display: none;
    @include small-screens {
        display: block;
    }
    position: relative;
    bottom: 80px;
    width: 100%;
    text-align: center;

    .download-btn {
        display: inline-block;
        border: 4px solid white;
        color: white;
        font-size: 20px;
        padding: 15px 20px;
        border-radius: 50px;
        margin: 20px;
        -webkit-transition: all .5s; /* For Safari 3.1 to 6.0 */
        transition: all .5s;
        img {
            position: relative;
            top: 3px;
            height: 20px;
        }
    }
}

#canvas-container {
    display: inline-block;
    width: 100%;
    text-align:center;
    @include small-screens {
        position: relative;
        bottom: 50px;
    }
}

canvas {
    max-width: 100vw;
    z-index: -10;
    @include large-screens {
        top: 20px;
        margin: auto;
    }
    @include small-screens {
        margin: auto;
        position: relative;
        bottom: 50px;
        display: inline;
        z-index: 10;
        max-height: 45vh;
    }
}

#img-wrapper {
    position: absolute;
    z-index: 1000;
    // left: 50%;
    bottom: 8px;
    text-align: center;
    width: 100%;
}

#wrapper {
    height: 100vh;
}

#rolling-text {
    color: white;
    @include medium-screens {
        font-size: 20px;
    }
}