
@import "../scss/mixins";

h1 {
    /* background-color: black; */
    text-align: center;
    height: 140px;
    color: white;
    position: absolute;
    font-size: 50px;
    padding: 20px;
    z-index: 1000;
    width: 745px;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include medium-screens {
        width: auto;
        margin: auto;
        position: relative;
    }
    @include small-screens {
        top: 120px;
    }
}

img {
    max-width: 100px;
    max-height: 40px;
}

@-webkit-keyframes hvr-bob {
    0% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
    50% {
      -webkit-transform: translateY(-4px);
      transform: translateY(-4px);
    }
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
}

@-webkit-keyframes hvr-bob-float {
    100% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}

@keyframes hvr-bob-float {
    100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    }
}

.hvr-bob {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hvr-bob:hover {
    -webkit-animation-name: hvr-bob-float, hvr-bob;
    animation-name: hvr-bob-float, hvr-bob;
    -webkit-animation-duration: .3s, 1.5s;
    animation-duration: .3s, 1.5s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;
}

#img-wrapper {
    position: absolute;
    z-index: 1000;
    // left: 50%;
    bottom: 8px;
    text-align: center;
    width: 100%;
}

#wrapper {
    height: 100vh;
}

#rolling-text {
    @include medium-screens {
        display: none;
    }
}