<div id="wrapper">
    <h1 id="splash-text">Hi, My Name is <span style="color: seagreen;">Matt</span>.<br><span id="rolling-text">{{display}}</span></h1>
    <div id="canvas-container">
        <canvas id="ball-of-string"></canvas>
    </div>
    <div id="download-btn-wrapper">
        <a class="download-btn" href="assets/download/MattKrabacher-Resume.pdf"><img id="download-icon" src="assets/img/download.png" alt="download-icon"> My Resume</a>
    </div>
    <div id="img-wrapper">
        <img id="arrow" (click)="_scrollService.ScrollTo('about')" class="hvr-bob" src="assets/img/down.png" alt="down">
    </div>
</div> 